 <section id="header" >
  <div id="bigBash">
    <app-chart
      id="bigDashBoard"
      chartType="line"
      chartLabel="Data"
      borderWidth=2
      [chartData]="data"
      [chartLabels]="labels"
      height=270
      backgroundColor="rgba(247, 248, 253, 0.1)"
      borderColor="#fff"
      defaultFontColor="rgba(255, 255, 255, 0.6)"
      radius=4
      hoverRadius=6
      stepSize=50
      tilteDisplay=false
      labelsFontColor="#fff"
    ></app-chart>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <app-chartcard
          title="Shipping Products"
          topLabel="Global"
          bottomLabel="Just Updated"
          bottomIcon="fas fa-circle-notch"
          settingsTab=true
          chartType="line"

          borderColor="#f4454e"
          ChartID="shippingChart"
          [labels]=labels
          [data]=shippingData
          ></app-chartcard>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-chartcard
          title="All Products"
          topLabel="2018 Sale"
          bottomLabel="Just Updated"
          bottomIcon="fas fa-circle-notch"
          settingsTab=true
          chartType="line"

          borderColor="#23cc6c"
          ChartID="allProductsChart"
          [labels]=labels
          [data]=shippingData></app-chartcard>
      </div>
      <div class="col-lg-4 col-md-6">
        <app-chartcard
          title="24 Hour Performance"
          topLabel="Global"
          bottomLabel="Last 7 days"
          bottomIcon="far fa-clock"
          chartType="bar"
          backgroundColor="rgba(209,245,252,100)"
          borderColor="#23c5cc"
          ChartID="performanceChart"
          [labels]=labels
          [data]=profarmanceData></app-chartcard>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <app-task></app-task>
      </div>
      <div class="col-xs-12 col-lg-6">
        <app-employee-status></app-employee-status>
      </div>
    </div>
  </div>
</section>
