#placesbox{
  background-color: white;
  padding:10px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px rgba(165, 163, 163, 0.89);
  margin-top: 25px;
  text-align: center;
}

h3{
  padding-top: 1em;
}

h5{
  color: rgb(194, 190, 190);
  padding-bottom: 1em;
}

.b{
  height: 50px;
  background-color: orangered;
  padding: 10px;
  color: white;
  width: 90%;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.b:hover{
  cursor: pointer;
  width: 91%;
  height: 51px;
  box-shadow: 1px 2px 1px lightgray;
}
