<div id="placesbox">
  <h3>Notifications Places</h3>
  <h5>Click To View Notifications</h5>
  <div class="row">
    <div class="col-md-3 col-xs-12">




      <app-alert-box
          primary=true;
          msg="Top Center"></app-alert-box>

        <app-alert-box
          primary=true;
          msg="Top Right"></app-alert-box>

        <app-alert-box
          primary=true;
          msg="Bottom Left"></app-alert-box>

        <app-alert-box
          primary=true;
          msg="Bottom Center"></app-alert-box>

        <app-alert-box
          primary=true;
          msg="Bottom Right"></app-alert-box>






    </div>
  </div>
</div>
