<section id="sideNav">
  <h3>CT CREATIVE TIM</h3>
  <hr>
  <nav>
    <ul>
      <li>
        <div class="active">
          <div><i class="fas fa-box-open"></i>DASHBOARD</div>
        </div>
      </li>
      <li>
        <div>
          <div><i class="fas fa-atom"></i>ICONS</div>
        </div>
      </li>
      <li>
        <div>
          <div><i class="far fa-map"></i>MAPS</div>
        </div>
      </li>
      <li>
        <div>
          <div><i class="far fa-bell"></i>NOTIFICATIONS</div>
        </div>
      </li>
      <li>
        <div>
          <div><i class="far fa-user"></i>USER PROFILE</div>
        </div>
      </li>
      <li>
        <div>
          <div><i class="fas fa-list-ul"></i>TABLE LIST</div>
        </div>
      </li>
      <li>
        <div>
          <div><i class="fas fa-lira-sign"></i>TYPOGRAPHY</div>
        </div>
      </li>
    </ul>
  </nav>
</section>
