<div class="task">
  <h6>{{topLabel}}</h6>
  <h3>{{title}}</h3>



      <ul>
        <li>
          <div class="workCheck">
              <input type="checkbox" checked>
          </div>
          <div class="workmsg">
              <p>Sign contract for "What are conference organizers afraid of?"</p>
          </div>
          <div class="workIc">
            <i class="fas fa-gavel"></i>
            <i class="fas fa-times"></i>
          </div>
        </li>
        <li>
          <div class="workCheck">
              <input type="checkbox">
          </div>
          <div class="workmsg">
              <p>E-mails From My Boss?</p>
          </div>
          <div class="workIc">
            <i class="fas fa-gavel"></i>
            <i class="fas fa-times"></i>
          </div>
        </li>
        <li>
          <div class="workCheck">
              <input type="checkbox" checked>
          </div>
          <div class="workmsg">
              <p>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit</p>
          </div>
          <div class="workIc">
            <i class="fas fa-gavel"></i>
            <i class="fas fa-times"></i>
          </div>
        </li>
        <li>
          <div class="workCheck">
              <input type="checkbox" checked>
          </div>
          <div class="workmsg">
              <p>Mocked in Angular 6 by me... Yes!</p>
          </div>
          <div class="workIc">
            <i class="fas fa-gavel"></i>
            <i class="fas fa-times"></i>
          </div>
        </li>
      </ul>







  <h6 class="bottomlabel"><i class="fas fa-circle-notch"></i> {{bottomLabel}}</h6>
</div>
