<div id="statesbox">
  <h3>{{heading}}</h3>

  <app-alert-box
    primary=true;
    msg="Primary - This is a regular notification made with '.alert-primary'"
    rightIcon=true></app-alert-box>

  <app-alert-box
    info=true;
    msg="Info - This is a regular notification made with '.alert-info'"
    rightIcon=true></app-alert-box>

  <app-alert-box
    success=true;
    msg="Success - This is a regular notification made with '.alert-success'"
    rightIcon=true></app-alert-box>

  <app-alert-box
    warning=true;
    msg="Warning - This is a regular notification made with '.alert-warning'"
    rightIcon=true></app-alert-box>

  <app-alert-box
    danger=true;
    msg="Danger - This is a regular notification made with '.alert-danger'"
    rightIcon=true></app-alert-box>
</div>
