<div id="notifications">
  <div id="topNotificationHeader">
    <h3>Notifications</h3>
    <h6>Handcrafted By Our <span>Team.</span> Please Checkout The <span>Full Doucmentation.</span></h6>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <app-style-box
          heading="Notifications Style"></app-style-box>
      </div>
      <div class="col-sm-12 col-md-6">
        <app-states-box
          heading="Notification States"></app-states-box>
      </div>
      <div class="col-sm-12">
        <app-places-box></app-places-box>
      </div>
    </div>
  </div>
</div>
